<h2>You're almost done! Now create a password to securely access your account.</h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>

  <%= devise_error_messages! %>

  <div class="field">
    <%= f.password_field :password, :input_html => {:autofocus => true} %>
    <%= f.password_field :password_confirmation %>
    <%= f.hidden_field :confirmation_token, :input_html => { :value => @original_token } %>
  </div>

  <div class="actions">
    <%= f.submit "Confirm Account" %>
  </div>

<% end %>

<%= render "devise/shared/links" %>