<%  # if there are flashes
    # <div class="alert-box alert">
    # {{ Session::get('status') }}
    # </div>
%>

<div class="row">
  <div class="small-12 medium-6 columns medium-centered">
    <div class='drive-panel login-nudge-down'>
      <div class="drive-panel-title">
        Reset Your Password
      </div>

      <div class="drive-panel-body">

        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>
          <%= f.hidden_field :reset_password_token %>

          <%= f.label :password, "New password" %>
          <%= f.password_field :password, autofocus: true, autocomplete: "off" %>

          <%= f.label :password_confirmation, "Confirm password" %>
          <%= f.password_field :password_confirmation, autocomplete: "off" %>

          <%= f.submit "Change my password", class: 'button expanded' %>
        <% end %>

      </div>
    </div>
  </div>
</div>
