Hello <%= @user.first_name %>,

Your <%= ENV['SITE_NAME'] %> 2017 order has been updated.
You now have <%= @user.invitation_limit + 1 %> tickets!

=====================

You can manage your purchased tickets by signing in to your account below.

<a href="<%= account_url %>">Your Account</a>

=====================

The <%= ENV['SITE_NAME'] %> Team
