<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : :ENV['SITE_NAME'] %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <script src="https://use.typekit.net/vej7vmg.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <%= render partial: 'layouts/analytics' %>
  </head>

  <body id="<%= controller.controller_name %>" class="<%= controller.action_name %>">
    <%= render partial: 'layouts/nav', locals: { live_state: @live_state } %>
    <%= render 'layouts/flash' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
    <%= content_for :js %>
  </body>
</html>
